In [1]:
import numpy as np
import pandas as pd

https://datascienceschool.net/01%20python/04.01%20%ED%8C%90%EB%8B%A4%EC%8A%A4%20%ED%8C%A8%ED%82%A4%EC%A7%80%EC%9D%98%20%EC%86%8C%EA%B0%9C.html

시리즈 = 값(value) + 인덱스(index)(index label)
np에서 제공하는 1차원 배열과 비슷하지만, 인덱싱 가능.(hash 라 생각하면 편리)

인덱스를 지정하지 않으면 0부터 시작하는 정수값.
애초에 1차원 배열처럼 s[0] 이런식으로 접근도 가능.

In [2]:
s = pd.Series([9904312, 3448737, 2890451, 2466052], index=["서울","부산","인천","대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

s.index s.values 로 인덱스나 값에 접근 가능.

In [3]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [4]:
s.values

array([9904312, 3448737, 2890451, 2466052])

s / 1000000과 같은 형식으로 시리즈에 연산 가능. 
value값에 전부 다 적용됨.

In [5]:
s / 1000000

서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
dtype: float64

다양한 인덱싱 방법. 한번 보기
<br>라벨값이 영문 문자열이면 s.a, s.b식의 접근도 가능.

In [6]:
s[3], s["대구"]
s[[0, 3, 1]]
s[["서울", "대구", "부산"]]
s[(250e4 < s) & (s < 500e4)]
s[1:3]
s["부산":"대구"]

부산    3448737
인천    2890451
대구    2466052
dtype: int64

시리즈도 key, value로 정의가 된다. 그러므로 딕셔너리와 비슷하게 사용할 수 있다.<br>
딕셔너리에서 제공하는 in 연산도 가능하고(boolean) items를 이용해 각 원소의 key value에도 접근 가능하다.

In [7]:
"서울" in s

True

In [8]:
for k, v in s.items():
    print("%s = %d" % (k ,v)) #이렇게 쓰는것도 알아두기

서울 = 9904312
부산 = 3448737
인천 = 2890451
대구 = 2466052

딕셔너리 객체로 시리즈를 만들 수 도 있지만, 딕셔너리의 원소들은 순서를 보장하지 않는다. 그러므로 순서를 정하고 싶으면 인덱스를 리스트로 지정해야 한다.

In [9]:
s2 = pd.Series({"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158})
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [10]:
s2 = pd.Series({"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158},
               index=["부산", "서울", "인천", "대전"])
s2

부산    3393191
서울    9631482
인천    2632035
대전    1490158
dtype: int64

두개의 시리즈를 이용해 연산하는 것도 가능. 같은 인덱스에 대한 연산만 가능하고, 다른 인덱스가 있으면 NaN으로 표시된다.(NaN은 float에서만 가능하므로 모든 값이 float로 바뀜.)

In [11]:
ds = s - s2
ds

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

NaN이 아닌 값에만 접근하고 싶으면 ds.notnull() 사용.

In [12]:
ds.notnull()

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [13]:
ds[ds.notnull()]

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

데이터를 삭제할떄는 del 명령어를 사용한다.

In [14]:
del ds["서울"]
ds

대구         NaN
대전         NaN
부산     55546.0
인천    258416.0
dtype: float64

데이터프레임<br>
column은 열, index가 행. data는 딕셔너리 형태로 생성<br>
데이터프레임은 2차원 배열 데이터를 기반으로 하는것 처럼 보이지만, 공통 인덱스를 가지는 column Series를 딕셔너리로 묶어놓은 것이 더 정확. 각 column마다 자료형이 다를 수 있기 때문이다.<br>
그래도 numpy 2차원 배열이 가지는 대부분의 속성, 메서드를 지원한다. (한번 찾아보기. ex) 전치 df.T)

In [15]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구"]
df = pd.DataFrame(data, index=index, columns=columns)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [16]:
df.values

array([['수도권', 9904312, 9631482, 9762546, 9853972, 0.0283],
       ['경상권', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['수도권', 2890451, 2632035, 2517680, 2466338, 0.0982],
       ['경상권', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [17]:
df.columns

Index(['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율'], dtype='object')

In [18]:
df.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [19]:
df.index.name = "도시"
df.columns.name = "특성"
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

열단위로 데이터 갱신, 추가, 삭제 가능.

In [20]:
df["2010-2015 증가율"] = df["2010-2015 증가율"] * 100
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972           2.83
부산  경상권  3448737  3393191  3512547  3655437           1.63
인천  수도권  2890451  2632035  2517680  2466338           9.82
대구  경상권  2466052  2431774  2456016  2473990           1.41

추가

In [21]:
df["2005-2010 증가율"] = ((df["2010"] - df["2005"]) / df["2005"] * 100).round(2)
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972           2.83          -1.34
부산  경상권  3448737  3393191  3512547  3655437           1.63          -3.40
인천  수도권  2890451  2632035  2517680  2466338           9.82           4.54
대구  경상권  2466052  2431774  2456016  2473990           1.41          -0.99

삭제

In [22]:
del df["2010-2015 증가율"]
df

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972          -1.34
부산  경상권  3448737  3393191  3512547  3655437          -3.40
인천  수도권  2890451  2632035  2517680  2466338           4.54
대구  경상권  2466052  2431774  2456016  2473990          -0.99

열 인덱싱<br>
df[0]과 같이 정수를 인덱스로 사용하는 것은 행 인덱싱에서 사용하므로 안된다.<br>
하지만 애초에 열 인덱스가 정수형이라면 정수사용 가능.

In [23]:
# 하나의 열만 인덱싱하면 시리즈가 반환된다.
df["지역"]

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [24]:
# 여러개의 열을 인덱싱하면 부분적인 데이터프레임이 반환된다.
df[["2010", "2015"]]

특성     2010     2015
도시
서울  9631482  9904312
부산  3393191  3448737
인천  2632035  2890451
대구  2431774  2466052

하나의 열을 데이터프레임 형태로 유지하고 싶을때.

In [25]:
# 2010이라는 열을 반환하면서 데이터프레임 자료형을 유지
df[["2010"]]

특성     2010
도시
서울  9631482
부산  3393191
인천  2632035
대구  2431774

행 인덱싱<br>
행 인덱싱은 항상 슬라이싱을 사용해야 된다. 행 인덱스의 값이 문자 라벨이면 문자 라벨 슬라이싱도 가능하다.

In [26]:
df[:1]

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972          -1.34

In [27]:
df[1:2]

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
부산  경상권  3448737  3393191  3512547  3655437           -3.4

In [28]:
df[1:3]

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
부산  경상권  3448737  3393191  3512547  3655437          -3.40
인천  수도권  2890451  2632035  2517680  2466338           4.54

In [29]:
df["서울":"부산"]

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972          -1.34
부산  경상권  3448737  3393191  3512547  3655437          -3.40

열단위 인덱싱, 행단위 인덱싱을 한번에 하면 데이터 값 자체가 반환된다.

In [30]:
df["2015"]["서울"]

9904312

In [31]:
type(df["2015"]["서울"])

numpy.int64

<h1> CSV 다루기 </h1>
csv는 , 로 나누어진 데이터 정보이다.

In [32]:

%%writefile sample1.csv
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample1.csv

CSV로부터 데이터를 읽어 데이터프레임 만들기.<br>
행 인덱스 정보가 없으므로 행 인덱스에 정수가 자동으로 추가되었다.

In [33]:
pd.read_csv('sample1.csv')

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

열 인덱스 정보가 없을때는 read_csv의 names로 설정할 수 있다.

In [34]:
%%writefile sample2.csv
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample2.csv

In [35]:
pd.read_csv('sample2.csv', names=['c1', 'c2', 'c3'])

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

특정한 열을 행 인덱스로 지정하고 싶으면

In [36]:
pd.read_csv('sample1.csv', index_col='c1')

      c2      c3
c1
1   1.11     one
2   2.22     two
3   3.33   three

CSV가 아닌 파일, 즉 , 로 나누어진 파일이 아니면 sep 인수를 써서 사용자가 지정해준다.<br>
만약 길이가 정해지지 않은 공백이 구분자인 경우에는 \s+ 정규표현식 사용.

In [37]:
%%writefile sample3.txt
c1        c2        c3        c4
0.179181 -1.538472  1.347553  0.43381
1.024209  0.087307 -1.281997  0.49265
0.417899 -2.002308  0.255245 -1.10515

Writing sample3.txt

In [38]:
pd.read_table('sample3.txt', sep='\s+')

         c1        c2        c3       c4
0  0.179181 -1.538472  1.347553  0.43381
1  1.024209  0.087307 -1.281997  0.49265
2  0.417899 -2.002308  0.255245 -1.10515

데이터 파일 중 건너뛰어야 할 행이 있으면 skiprows 사용.<br>
(아래 파일은 txt파일이지만 , 로 구분되어 있으므로 csv로 사용 가능.)

In [39]:
%%writefile sample4.txt
파일 제목: sample4.txt
데이터 포맷의 설명:
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample4.txt

In [40]:
pd.read_csv('sample4.txt', skiprows=[0, 1])

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

특정한 값 전체를 NaN으로 취급하고 싶으면 다음과 같이 사용.

In [41]:
%%writefile sample5.csv
c1, c2, c3
1, 1.11, one
2, , two
누락, 3.33, three

Writing sample5.csv

In [42]:
df = pd.read_csv('sample5.csv', na_values=['누락'])
df

    c1     c2      c3
0  1.0   1.11     one
1  2.0            two
2  NaN   3.33   three

데이터 출력, 인터넷 상에서 데이터 가져오기는 위의 링크에서 다시 보기.

<h1>loc, iloc</h1>