In [1]:
import pandas as pd
import numpy as np

데이터 개수 세기<br>
count 사용, NaN은 세지 않는다.

In [2]:
s = pd.Series(range(10))
s[3] = np.nan
s

0    0.0
1    1.0
2    2.0
3    NaN
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [3]:
s.count()

9

데이터프레임에서는 각 열마다 별도로 데이터 개수를 세어준다. 데이터 누락 찾기 편리하다.

In [4]:
np.random.seed(2)
df = pd.DataFrame(np.random.randint(5, size=(4, 4)), dtype=float)
df.iloc[2, 3] = np.nan
df

     0    1    2    3
0  0.0  0.0  3.0  2.0
1  3.0  0.0  2.0  1.0
2  3.0  2.0  4.0  NaN
3  4.0  3.0  4.0  2.0

In [5]:
df.count()

0    4
1    4
2    4
3    3
dtype: int64

시리즈의 값이 정수, 문자열 카테고리인 값은 value_counts로 각각의 값이 나온 횟수를 셀 수 있다.

In [6]:
np.random.seed(1)
s2 = pd.Series(np.random.randint(6, size=100))
s2.tail()

95    4
96    5
97    2
98    4
99    3
dtype: int64

In [7]:
s2.value_counts()

1    22
0    18
4    17
5    16
3    14
2    13
dtype: int64

데이터 프레임에는 value_counts가 없으므로 각 열마다 따로 해주어야 한다.

In [8]:
df[0].value_counts()

3.0    2
0.0    1
4.0    1
Name: 0, dtype: int64

정렬<br>
sort_index, sort_values 사용.<br>
인수에 ascending=False 써주면 큰거부터.<br>

In [9]:
s2.value_counts().sort_index()

0    18
1    22
2    13
3    14
4    17
5    16
dtype: int64

In [10]:
s2.value_counts().sort_values()

2    13
3    14
5    16
4    17
0    18
1    22
dtype: int64

In [11]:
s.sort_values()

0    0.0
1    1.0
2    2.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
3    NaN
dtype: float64

In [12]:
s.sort_values(ascending=False)

9    9.0
8    8.0
7    7.0
6    6.0
5    5.0
4    4.0
2    2.0
1    1.0
0    0.0
3    NaN
dtype: float64

데이터 프레임에서 sort_values를 사용하려면 by를 통해 정렬 기준이 되는 열을 지정해야 한다.<br>
by의 인수에 list가 나오면 list에 해당하는 값들이 정렬 기준의 우선순위가 됨.

In [13]:
df.sort_values(by=1)

     0    1    2    3
0  0.0  0.0  3.0  2.0
1  3.0  0.0  2.0  1.0
2  3.0  2.0  4.0  NaN
3  4.0  3.0  4.0  2.0

In [14]:
df.sort_values(by=[1, 2])

     0    1    2    3
1  3.0  0.0  2.0  1.0
0  0.0  0.0  3.0  2.0
2  3.0  2.0  4.0  NaN
3  4.0  3.0  4.0  2.0

mean, sum<br>
axis = 1 -> 행방향 합<br>
axis = 0 -> 열방향 합<br>
mean(평균) 함수도 똑같이 사용하면 된다.

In [15]:
np.random.seed(1)
df2 = pd.DataFrame(np.random.randint(10, size=(4, 8)))
df2

   0  1  2  3  4  5  6  7
0  5  8  9  5  0  0  1  7
1  6  9  2  4  5  2  4  2
2  4  7  7  9  1  7  0  6
3  9  9  7  6  9  1  0  1

In [16]:
df2.sum(axis=1)

0    35
1    34
2    41
3    42
dtype: int64

In [17]:
df2["RowSum"] = df2.sum(axis=1)
df2

   0  1  2  3  4  5  6  7  RowSum
0  5  8  9  5  0  0  1  7      35
1  6  9  2  4  5  2  4  2      34
2  4  7  7  9  1  7  0  6      41
3  9  9  7  6  9  1  0  1      42

In [18]:
df2.sum()

0          24
1          33
2          25
3          24
4          15
5          10
6           5
7          16
RowSum    152
dtype: int64

In [19]:
df2.loc["ColTotal", :] = df2.sum()
df2

             0     1     2     3     4     5    6     7  RowSum
0          5.0   8.0   9.0   5.0   0.0   0.0  1.0   7.0    35.0
1          6.0   9.0   2.0   4.0   5.0   2.0  4.0   2.0    34.0
2          4.0   7.0   7.0   9.0   1.0   7.0  0.0   6.0    41.0
3          9.0   9.0   7.0   6.0   9.0   1.0  0.0   1.0    42.0
ColTotal  24.0  33.0  25.0  24.0  15.0  10.0  5.0  16.0   152.0

Apply method<br>
행이나 열 단위로 반복해서 계산하고 싶을때, apply를 사용하면 편함.
기본값은 열이고, axis=1하면 행.

In [20]:
df3 = pd.DataFrame({
    'A': [1, 3, 4, 3, 4],
    'B': [2, 3, 1, 2, 3],
    'C': [1, 5, 2, 4, 4]
})
df3

   A  B  C
0  1  2  1
1  3  3  5
2  4  1  2
3  3  2  4
4  4  3  4

In [21]:
df3.apply(lambda x : x.max() - x.min())

A    3
B    2
C    4
dtype: int64

In [22]:
df3.apply(lambda x : x.max() - x.min(), axis=1)

0    1
1    2
2    3
3    2
4    1
dtype: int64

각 열에 어떤 값이 얼마나 사용되었는지 알고싶다면 밑에처럼.

In [23]:
df3.apply(pd.value_counts)

     A    B    C
1  1.0  1.0  1.0
2  NaN  2.0  1.0
3  2.0  2.0  NaN
4  2.0  NaN  2.0
5  NaN  NaN  1.0

fillna method<br>
NaN값을 원하는 값으로 바꿀 수 있음.

In [24]:
df3.apply(pd.value_counts).fillna(0.0)

     A    B    C
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

astype method<br>
전체 데이터의 자료형 바꾸기

In [25]:
df3.apply(pd.value_counts).fillna(0).astype(int)

   A  B  C
1  1  1  1
2  0  2  1
3  2  2  0
4  2  0  2
5  0  0  1

<h3>실수 값을 카테고리 값으로 변환</h3>

In [26]:
ages = [0, 2, 10, 21, 23, 37, 31, 61, 20, 41, 32, 101]

bins는 카테고리를 나누는 기준값, labels는 기준값에 따라서 변경 결과가 되는 카테고리이다. 영역을 넘는 값은 NaN처리가 된다.

In [27]:
bins = [1, 20, 30, 50, 70, 100]
labels = ["미성년자", "청년", "중년", "장년", "노년"]
cats = pd.cut(ages, bins, labels=labels)
cats

[NaN, '미성년자', '미성년자', '청년', '청년', ..., '장년', '미성년자', '중년', '중년', NaN]
Length: 12
Categories (5, object): ['미성년자' < '청년' < '중년' < '장년' < '노년']

cut이 반환하는 값은 Categorical 클래스 객체이므로, categories 속성으로 라벨문자열을, codes 속성으로 정수로 인코딩 한 카테고리 값을 가진다.

In [28]:
type(cats)

pandas.core.arrays.categorical.Categorical

In [29]:
cats.categories

Index(['미성년자', '청년', '중년', '장년', '노년'], dtype='object')

In [30]:
cats.codes

array([-1,  0,  0,  1,  1,  2,  2,  3,  0,  2,  2, -1], dtype=int8)

In [31]:
df4 = pd.DataFrame(ages, columns=["ages"])
df4["age_cat"] = pd.cut(df4.ages, bins, labels=labels)
df4

    ages age_cat
0      0     NaN
1      2    미성년자
2     10    미성년자
3     21      청년
4     23      청년
5     37      중년
6     31      중년
7     61      장년
8     20    미성년자
9     41      중년
10    32      중년
11   101     NaN

그러므로 age_cat의 열값은 문자열이 아님. 이거 바꾸려면 astype 메서드 사용해야되는데 위의 강의에서 하는건 이거 바꾸는건지 잘 모르겠음; 일단 밑에 써놓긴 하는데 나중에 다른거 찾아보면서 참고하기.

In [32]:
df4.age_cat.astype(str) + df4.ages.astype(str)

0       nan0
1      미성년자2
2     미성년자10
3       청년21
4       청년23
5       중년37
6       중년31
7       장년61
8     미성년자20
9       중년41
10      중년32
11    nan101
dtype: object

qcut은 경계선 지정하지 않고 데이터 개수가 같도록 지정.

In [33]:
data = np.random.randn(1000)
cats = pd.qcut(data, 4, labels=["Q1", "Q2", "Q3", "Q4"])
cats

['Q2', 'Q1', 'Q2', 'Q3', 'Q1', ..., 'Q1', 'Q1', 'Q4', 'Q4', 'Q2']
Length: 1000
Categories (4, object): ['Q1' < 'Q2' < 'Q3' < 'Q4']

In [34]:
pd.value_counts(cats)

Q1    250
Q2    250
Q3    250
Q4    250
dtype: int64

<h3>인덱스 조작</h3>
인덱스에 들어가야 할 데이터가 일반 데이터 열에 들어가 있거나, 혹은 이 반대로 들어가 있는 경우가 종종 발생. 이떄 사용하는 함수들

set_index -> 기존의 행 인덱스를 제거하고 데이터 열 중 하나를 인덱스로 설정.<br>
reset_index -> 기존의 행 인덱스를 제거하고 인덱스를 데이터 열로 추가.

In [35]:
np.random.seed(0)
df1 = pd.DataFrame(np.vstack([list('ABCDE'),
                              np.round(np.random.rand(3, 5), 2)]).T,
                   columns=["C1", "C2", "C3", "C4"])
df1

  C1    C2    C3    C4
0  A  0.55  0.65  0.79
1  B  0.72  0.44  0.53
2  C   0.6  0.89  0.57
3  D  0.54  0.96  0.93
4  E  0.42  0.38  0.07

In [36]:
df2 = df1.set_index("C1")
df2

      C2    C3    C4
C1
A   0.55  0.65  0.79
B   0.72  0.44  0.53
C    0.6  0.89  0.57
D   0.54  0.96  0.93
E   0.42  0.38  0.07

In [37]:
df2.reset_index()

  C1    C2    C3    C4
0  A  0.55  0.65  0.79
1  B  0.72  0.44  0.53
2  C   0.6  0.89  0.57
3  D  0.54  0.96  0.93
4  E  0.42  0.38  0.07

reset 인수에서 drop=true를 하면 그냥 데이터를 버린다.

In [38]:
df2.reset_index(drop = True)

     C2    C3    C4
0  0.55  0.65  0.79
1  0.72  0.44  0.53
2   0.6  0.89  0.57
3  0.54  0.96  0.93
4  0.42  0.38  0.07

다중 인덱스는 링크보고 다시하기;