In [1]:
import pandas as pd
import numpy as np

데이터 개수 세기<br>
count 사용, NaN은 세지 않는다.

In [2]:
s = pd.Series(range(10))
s[3] = np.nan
s

0    0.0
1    1.0
2    2.0
3    NaN
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [3]:
s.count()

9

데이터프레임에서는 각 열마다 별도로 데이터 개수를 세어준다. 데이터 누락 찾기 편리하다.

In [4]:
np.random.seed(2)
df = pd.DataFrame(np.random.randint(5, size=(4, 4)), dtype=float)
df.iloc[2, 3] = np.nan
df

     0    1    2    3
0  0.0  0.0  3.0  2.0
1  3.0  0.0  2.0  1.0
2  3.0  2.0  4.0  NaN
3  4.0  3.0  4.0  2.0

In [5]:
df.count()

0    4
1    4
2    4
3    3
dtype: int64

시리즈의 값이 정수, 문자열 카테고리인 값은 value_counts로 각각의 값이 나온 횟수를 셀 수 있다.

In [6]:
np.random.seed(1)
s2 = pd.Series(np.random.randint(6, size=100))
s2.tail()

95    4
96    5
97    2
98    4
99    3
dtype: int64

In [7]:
s2.value_counts()

1    22
0    18
4    17
5    16
3    14
2    13
dtype: int64

데이터 프레임에는 value_counts가 없으므로 각 열마다 따로 해주어야 한다.

In [8]:
df[0].value_counts()

3.0    2
0.0    1
4.0    1
Name: 0, dtype: int64

정렬<br>
sort_index, sort_values 사용.<br>
인수에 ascending=False 써주면 큰거부터.<br>

In [9]:
s2.value_counts().sort_index()

0    18
1    22
2    13
3    14
4    17
5    16
dtype: int64

In [10]:
s2.value_counts().sort_values()

2    13
3    14
5    16
4    17
0    18
1    22
dtype: int64

In [11]:
s.sort_values()

0    0.0
1    1.0
2    2.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
3    NaN
dtype: float64

In [12]:
s.sort_values(ascending=False)

9    9.0
8    8.0
7    7.0
6    6.0
5    5.0
4    4.0
2    2.0
1    1.0
0    0.0
3    NaN
dtype: float64

데이터 프레임에서 sort_values를 사용하려면 by를 통해 정렬 기준이 되는 열을 지정해야 한다.<br>
by의 인수에 list가 나오면 list에 해당하는 값들이 정렬 기준의 우선순위가 됨.

In [13]:
df.sort_values(by=1)

     0    1    2    3
0  0.0  0.0  3.0  2.0
1  3.0  0.0  2.0  1.0
2  3.0  2.0  4.0  NaN
3  4.0  3.0  4.0  2.0

In [14]:
df.sort_values(by=[1, 2])

     0    1    2    3
1  3.0  0.0  2.0  1.0
0  0.0  0.0  3.0  2.0
2  3.0  2.0  4.0  NaN
3  4.0  3.0  4.0  2.0

mean, sum<br>
axis = 1 -> 행방향 합<br>
axis = 0 -> 열방향 합<br>
mean(평균) 함수도 똑같이 사용하면 된다.

In [15]:
np.random.seed(1)
df2 = pd.DataFrame(np.random.randint(10, size=(4, 8)))
df2

   0  1  2  3  4  5  6  7
0  5  8  9  5  0  0  1  7
1  6  9  2  4  5  2  4  2
2  4  7  7  9  1  7  0  6
3  9  9  7  6  9  1  0  1

In [16]:
df2.sum(axis=1)

0    35
1    34
2    41
3    42
dtype: int64

In [17]:
df2["RowSum"] = df2.sum(axis=1)
df2

   0  1  2  3  4  5  6  7  RowSum
0  5  8  9  5  0  0  1  7      35
1  6  9  2  4  5  2  4  2      34
2  4  7  7  9  1  7  0  6      41
3  9  9  7  6  9  1  0  1      42

In [18]:
df2.sum()

0          24
1          33
2          25
3          24
4          15
5          10
6           5
7          16
RowSum    152
dtype: int64

In [19]:
df2.loc["ColTotal", :] = df2.sum()
df2

             0     1     2     3     4     5    6     7  RowSum
0          5.0   8.0   9.0   5.0   0.0   0.0  1.0   7.0    35.0
1          6.0   9.0   2.0   4.0   5.0   2.0  4.0   2.0    34.0
2          4.0   7.0   7.0   9.0   1.0   7.0  0.0   6.0    41.0
3          9.0   9.0   7.0   6.0   9.0   1.0  0.0   1.0    42.0
ColTotal  24.0  33.0  25.0  24.0  15.0  10.0  5.0  16.0   152.0

Apply method<br>
행이나 열 단위로 반복해서 계산하고 싶을때, apply를 사용하면 편함.
기본값은 열이고, axis=1하면 행.

In [20]:
df3 = pd.DataFrame({
    'A': [1, 3, 4, 3, 4],
    'B': [2, 3, 1, 2, 3],
    'C': [1, 5, 2, 4, 4]
})
df3

   A  B  C
0  1  2  1
1  3  3  5
2  4  1  2
3  3  2  4
4  4  3  4

In [21]:
df3.apply(lambda x : x.max() - x.min())

A    3
B    2
C    4
dtype: int64

In [22]:
df3.apply(lambda x : x.max() - x.min(), axis=1)

0    1
1    2
2    3
3    2
4    1
dtype: int64

각 열에 어떤 값이 얼마나 사용되었는지 알고싶다면 밑에처럼.

In [23]:
df3.apply(pd.value_counts)

     A    B    C
1  1.0  1.0  1.0
2  NaN  2.0  1.0
3  2.0  2.0  NaN
4  2.0  NaN  2.0
5  NaN  NaN  1.0

fillna method<br>
NaN값을 원하는 값으로 바꿀 수 있음.

In [24]:
df3.apply(pd.value_counts).fillna(0.0)

     A    B    C
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

astype method<br>
전체 데이터의 자료형 바꾸기

In [25]:
df3.apply(pd.value_counts).fillna(0).astype(int)

   A  B  C
1  1  1  1
2  0  2  1
3  2  2  0
4  2  0  2
5  0  0  1

<h3>실수 값을 카테고리 값으로 변환</h3>

In [26]:
ages = [0, 2, 10, 21, 23, 37, 31, 61, 20, 41, 32, 101]

bins는 카테고리를 나누는 기준값, labels는 기준값에 따라서 변경 결과가 되는 카테고리이다. 영역을 넘는 값은 NaN처리가 된다.

In [27]:
bins = [1, 20, 30, 50, 70, 100]
labels = ["미성년자", "청년", "중년", "장년", "노년"]
cats = pd.cut(ages, bins, labels=labels)
cats

[NaN, '미성년자', '미성년자', '청년', '청년', ..., '장년', '미성년자', '중년', '중년', NaN]
Length: 12
Categories (5, object): ['미성년자' < '청년' < '중년' < '장년' < '노년']

cut이 반환하는 값은 Categorical 클래스 객체이므로, categories 속성으로 라벨문자열을, codes 속성으로 정수로 인코딩 한 카테고리 값을 가진다.

In [28]:
type(cats)

pandas.core.arrays.categorical.Categorical

In [29]:
cats.categories

Index(['미성년자', '청년', '중년', '장년', '노년'], dtype='object')

In [30]:
cats.codes

array([-1,  0,  0,  1,  1,  2,  2,  3,  0,  2,  2, -1], dtype=int8)

In [31]:
df4 = pd.DataFrame(ages, columns=["ages"])
df4["age_cat"] = pd.cut(df4.ages, bins, labels=labels)
df4

    ages age_cat
0      0     NaN
1      2    미성년자
2     10    미성년자
3     21      청년
4     23      청년
5     37      중년
6     31      중년
7     61      장년
8     20    미성년자
9     41      중년
10    32      중년
11   101     NaN

그러므로 age_cat의 열값은 문자열이 아님. 이거 바꾸려면 astype 메서드 사용해야되는데 위의 강의에서 하는건 이거 바꾸는건지 잘 모르겠음; 일단 밑에 써놓긴 하는데 나중에 다른거 찾아보면서 참고하기.

In [32]:
df4.age_cat.astype(str) + df4.ages.astype(str)

0       nan0
1      미성년자2
2     미성년자10
3       청년21
4       청년23
5       중년37
6       중년31
7       장년61
8     미성년자20
9       중년41
10      중년32
11    nan101
dtype: object

qcut은 경계선 지정하지 않고 데이터 개수가 같도록 지정.

In [33]:
data = np.random.randn(1000)
cats = pd.qcut(data, 4, labels=["Q1", "Q2", "Q3", "Q4"])
cats

['Q2', 'Q1', 'Q2', 'Q3', 'Q1', ..., 'Q1', 'Q1', 'Q4', 'Q4', 'Q2']
Length: 1000
Categories (4, object): ['Q1' < 'Q2' < 'Q3' < 'Q4']

In [34]:
pd.value_counts(cats)

Q1    250
Q2    250
Q3    250
Q4    250
dtype: int64

<h3>인덱스 조작</h3>
인덱스에 들어가야 할 데이터가 일반 데이터 열에 들어가 있거나, 혹은 이 반대로 들어가 있는 경우가 종종 발생. 이떄 사용하는 함수들

set_index -> 기존의 행 인덱스를 제거하고 데이터 열 중 하나를 인덱스로 설정.<br>
reset_index -> 기존의 행 인덱스를 제거하고 인덱스를 데이터 열로 추가.

In [35]:
np.random.seed(0)
df1 = pd.DataFrame(np.vstack([list('ABCDE'),
                              np.round(np.random.rand(3, 5), 2)]).T,
                   columns=["C1", "C2", "C3", "C4"])
df1

  C1    C2    C3    C4
0  A  0.55  0.65  0.79
1  B  0.72  0.44  0.53
2  C   0.6  0.89  0.57
3  D  0.54  0.96  0.93
4  E  0.42  0.38  0.07

In [36]:
df2 = df1.set_index("C1")
df2

      C2    C3    C4
C1
A   0.55  0.65  0.79
B   0.72  0.44  0.53
C    0.6  0.89  0.57
D   0.54  0.96  0.93
E   0.42  0.38  0.07

In [37]:
df2.reset_index()

  C1    C2    C3    C4
0  A  0.55  0.65  0.79
1  B  0.72  0.44  0.53
2  C   0.6  0.89  0.57
3  D  0.54  0.96  0.93
4  E  0.42  0.38  0.07

reset 인수에서 drop=true를 하면 그냥 데이터를 버린다.

In [38]:
df2.reset_index(drop = True)

     C2    C3    C4
0  0.55  0.65  0.79
1  0.72  0.44  0.53
2   0.6  0.89  0.57
3  0.54  0.96  0.93
4  0.42  0.38  0.07

다중 인덱스는 링크보고 다시하기;

<h3>데이터프레임 합성</h3>

merge는 두 데이터프레임의 공통 열 혹은 인덱스를 기준으로 두개의 테이블을 합침.
join써도 똑같음.

In [39]:
df1 = pd.DataFrame({
    '고객번호': [1001, 1002, 1003, 1004, 1005, 1006, 1007],
    '이름': ['둘리', '도우너', '또치', '길동', '희동', '마이콜', '영희']
}, columns=['고객번호', '이름'])
df1

   고객번호   이름
0  1001   둘리
1  1002  도우너
2  1003   또치
3  1004   길동
4  1005   희동
5  1006  마이콜
6  1007   영희

In [40]:
df2 = pd.DataFrame({
    '고객번호': [1001, 1001, 1005, 1006, 1008, 1001],
    '금액': [10000, 20000, 15000, 5000, 100000, 30000]
}, columns=['고객번호', '금액'])
df2

   고객번호      금액
0  1001   10000
1  1001   20000
2  1005   15000
3  1006    5000
4  1008  100000
5  1001   30000

여기서는 공통열인 고객번호 열을 기준으로 데이터를 찾아 합친다.

inner join은 값이 없는거는 안보여준다.

In [41]:
pd.merge(df1,df2)

   고객번호   이름     금액
0  1001   둘리  10000
1  1001   둘리  20000
2  1001   둘리  30000
3  1005   희동  15000
4  1006  마이콜   5000

outer join은 값이 한쪽만 있어도 보여준다.

In [42]:
pd.merge(df1, df2, how="outer")

   고객번호   이름        금액
0  1001   둘리   10000.0
1  1001   둘리   20000.0
2  1001   둘리   30000.0
3  1002  도우너       NaN
4  1003   또치       NaN
5  1004   길동       NaN
6  1005   희동   15000.0
7  1006  마이콜    5000.0
8  1007   영희       NaN
9  1008  NaN  100000.0

In [43]:
pd.merge(df1, df2, how="left")

   고객번호   이름       금액
0  1001   둘리  10000.0
1  1001   둘리  20000.0
2  1001   둘리  30000.0
3  1002  도우너      NaN
4  1003   또치      NaN
5  1004   길동      NaN
6  1005   희동  15000.0
7  1006  마이콜   5000.0
8  1007   영희      NaN

In [44]:
pd.merge(df1, df2, how="right")

   고객번호   이름      금액
0  1001   둘리   10000
1  1001   둘리   20000
2  1005   희동   15000
3  1006  마이콜    5000
4  1008  NaN  100000
5  1001   둘리   30000

만약 키 값이 같은 데이터가 여러개 있으면 모든 경우의 수를 따져 조합을 만들어낸다.

In [45]:
df1 = pd.DataFrame({
    '품종': ['setosa', 'setosa', 'virginica', 'virginica'],
    '꽃잎길이': [1.4, 1.3, 1.5, 1.3]},
    columns=['품종', '꽃잎길이'])
df1

          품종  꽃잎길이
0     setosa   1.4
1     setosa   1.3
2  virginica   1.5
3  virginica   1.3

In [46]:
df2 = pd.DataFrame({
    '품종': ['setosa', 'virginica', 'virginica', 'versicolor'],
    '꽃잎너비': [0.4, 0.3, 0.5, 0.3]},
    columns=['품종', '꽃잎너비'])
df2

           품종  꽃잎너비
0      setosa   0.4
1   virginica   0.3
2   virginica   0.5
3  versicolor   0.3

In [47]:
pd.merge(df1, df2)

          품종  꽃잎길이  꽃잎너비
0     setosa   1.4   0.4
1     setosa   1.3   0.4
2  virginica   1.5   0.3
3  virginica   1.5   0.5
4  virginica   1.3   0.3
5  virginica   1.3   0.5

두 데이터프레임에서 이름이 같은 열은 모두 키가 된다. 그러므로 계좌의 금액과 같이 이름이 같아도 키가 되서는 안되는 열들은 on 인수로 기준열을 명시하여 제외해야 한다.

In [48]:
df1 = pd.DataFrame({
    '고객명': ['춘향', '춘향', '몽룡'],
    '날짜': ['2018-01-01', '2018-01-02', '2018-01-01'],
    '데이터': ['20000', '30000', '100000']})
df1

  고객명          날짜     데이터
0  춘향  2018-01-01   20000
1  춘향  2018-01-02   30000
2  몽룡  2018-01-01  100000

In [49]:
df2 = pd.DataFrame({
    '고객명': ['춘향', '몽룡'],
    '데이터': ['여자', '남자']})
df2

  고객명 데이터
0  춘향  여자
1  몽룡  남자

기준열이 아니면서 열 이름이 같으므로 _x, _y와 같은 접미사가 붙음.

In [50]:
pd.merge(df1, df2, on='고객명')

  고객명          날짜   데이터_x 데이터_y
0  춘향  2018-01-01   20000    여자
1  춘향  2018-01-02   30000    여자
2  몽룡  2018-01-01  100000    남자

반대로 기준열의 이름이 두 데이터프레임에서 다르다면 left_on, right_on을 사용해 기준열을 명시해야 한다.

In [51]:
df1 = pd.DataFrame({
    '이름': ['영희', '철수', '철수'],
    '성적': [1, 2, 3]})
df1

   이름  성적
0  영희   1
1  철수   2
2  철수   3

In [52]:
df2 = pd.DataFrame({
    '성명': ['영희', '영희', '철수'],
    '성적2': [4, 5, 6]})
df2

   성명  성적2
0  영희    4
1  영희    5
2  철수    6

In [53]:
pd.merge(df1, df2, left_on='이름', right_on="성명")

   이름  성적  성명  성적2
0  영희   1  영희    4
1  영희   1  영희    5
2  철수   2  철수    6
3  철수   3  철수    6

일반 데이터 열이 아닌 인덱스를 기준열로 사용하려면 ieft_index 또는 right_index를 True로 사용해야 한다.(일반 데이터열과 아닌거는 열 이름 붙은게 차이인가? 다시 알아보기.)

In [54]:
df1 = pd.DataFrame({
    '도시': ['서울', '서울', '서울', '부산', '부산'],
    '연도': [2000, 2005, 2010, 2000, 2005],
    '인구': [9853972, 9762546, 9631482, 3655437, 3512547]})
df1

   도시    연도       인구
0  서울  2000  9853972
1  서울  2005  9762546
2  서울  2010  9631482
3  부산  2000  3655437
4  부산  2005  3512547

In [55]:
df2 = pd.DataFrame(
    np.arange(12).reshape((6, 2)),
    index=[['부산', '부산', '서울', '서울', '서울', '서울'],
           [2000, 2005, 2000, 2005, 2010, 2015]],
    columns=['데이터1', '데이터2'])
df2

         데이터1  데이터2
부산 2000     0     1
   2005     2     3
서울 2000     4     5
   2005     6     7
   2010     8     9
   2015    10    11

In [56]:
pd.merge(df1, df2, left_on=['도시', '연도'], right_index=True)

   도시    연도       인구  데이터1  데이터2
0  서울  2000  9853972     4     5
1  서울  2005  9762546     6     7
2  서울  2010  9631482     8     9
3  부산  2000  3655437     0     1
4  부산  2005  3512547     2     3

In [57]:
df1 = pd.DataFrame(
    [[1., 2.], [3., 4.], [5., 6.]],
    index=['a', 'c', 'e'],
    columns=['서울', '부산'])
df1

    서울   부산
a  1.0  2.0
c  3.0  4.0
e  5.0  6.0

In [58]:
df2 = pd.DataFrame(
    [[7., 8.], [9., 10.], [11., 12.], [13, 14]],
    index=['b', 'c', 'd', 'e'],
    columns=['대구', '광주'])
df2

     대구    광주
b   7.0   8.0
c   9.0  10.0
d  11.0  12.0
e  13.0  14.0

In [59]:
pd.merge(df1, df2, how='outer', left_index=True, right_index=True)

    서울   부산    대구    광주
a  1.0  2.0   NaN   NaN
b  NaN  NaN   7.0   8.0
c  3.0  4.0   9.0  10.0
d  NaN  NaN  11.0  12.0
e  5.0  6.0  13.0  14.0

<h3>concat</h3>
얜 그냥 합친다. 기본은 세로로 합치는거고, axis=1하면 가로로 합친다.

In [60]:
s1 = pd.Series([0, 1], index=['A', 'B'])
s2 = pd.Series([2, 3, 4], index=['A', 'B', 'C'])

In [61]:
s1

A    0
B    1
dtype: int64

In [62]:
s2

A    2
B    3
C    4
dtype: int64

In [63]:
pd.concat([s1,s2])

A    0
B    1
A    2
B    3
C    4
dtype: int64

In [64]:
df1 = pd.DataFrame(
    np.arange(6).reshape(3, 2),
    index=['a', 'b', 'c'],
    columns=['데이터1', '데이터2'])
df1

   데이터1  데이터2
a     0     1
b     2     3
c     4     5

In [65]:
df2 = pd.DataFrame(
    5 + np.arange(4).reshape(2, 2),
    index=['a', 'c'],
    columns=['데이터3', '데이터4'])
df2

   데이터3  데이터4
a     5     6
c     7     8

In [66]:
pd.concat([df1, df2], axis=1)

   데이터1  데이터2  데이터3  데이터4
a     0     1   5.0   6.0
b     2     3   NaN   NaN
c     4     5   7.0   8.0